/* CSS file */
@namespace patrickmowrer "library://ns.patrickmowrer.com";

patrickmowrer|HSlider
{
    skinClass: ClassReference("com.patrickmowrer.skins.HSliderSkin");
    data-tip-offset-x: 0;
    data-tip-offset-y: -25;
}

patrickmowrer|VSlider
{
    skinClass: ClassReference("com.patrickmowrer.skins.VSliderSkin");
    data-tip-offset-x: 35; 
    data-tip-offset-y: 0;
}
